In [13]:
import pandas as pd
import numpy as np
import os
import re

## Функция для конвертации в формат .jpg

In [14]:
import re

def convert_to_jpg(file_name):
    if re.search(r'\.\w+$', file_name):
        return re.sub(r'\.\w+$', '.jpg', file_name)
    else:
        return file_name + ".jpg"

## Меняем формат всех картинок в формат .jpg

In [15]:
# Путь к папке с фотографиями
folder_path = '/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/images'

# Получаем список файлов в папке
files = os.listdir(folder_path)

# Применяем функцию к каждому файлу
for file_name in files:
    old_file_path = os.path.join(folder_path, file_name)
    new_file_path = os.path.join(folder_path, convert_to_jpg(file_name))
    os.rename(old_file_path, new_file_path)

## Считываем и смотрим как выглядят исходные таблицы

In [16]:
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

sample_submission = pd.read_csv('sample_submission.csv')
sample_submission.head(3)

                id  target
0  Qt1fGUB0Vz.jpeg     0.5
1  j4Rhioq7R3.jpeg     0.5
2  rD0hgFHJUZ.jpeg     0.5

In [17]:
train_data.head(10)

                id  target
0   gL5fWrgNPU.jpg       0
1   KKWXJDN8uM.png       1
2   Wb2I0CXlAY.jpg       0
3  G7PLhKpaf7.jpeg       1
4   DEUkeefz6Z.jpg       0
5   enth8MGCce.jpg       0
6       hG9nlBfDeh       1
7   Re69C5wIs7.jpg       0
8   fsCx46u0Bq.jpg       0
9   yEi4q3wAJS.jpg       0

## Применяем функцию конвертации к столбцу train_data['id']

In [18]:
train_data['id'] = train_data['id'].apply(convert_to_jpg)
train_data.head(10)

               id  target
0  gL5fWrgNPU.jpg       0
1  KKWXJDN8uM.jpg       1
2  Wb2I0CXlAY.jpg       0
3  G7PLhKpaf7.jpg       1
4  DEUkeefz6Z.jpg       0
5  enth8MGCce.jpg       0
6  hG9nlBfDeh.jpg       1
7  Re69C5wIs7.jpg       0
8  fsCx46u0Bq.jpg       0
9  yEi4q3wAJS.jpg       0

In [19]:
train_data.shape, test_data.shape

((1012, 2), (506, 1))

In [20]:
test_data.head(3)

                id
0  Qt1fGUB0Vz.jpeg
1  j4Rhioq7R3.jpeg
2  rD0hgFHJUZ.jpeg

## Сейчас будем делить тренировочный датасет на две подвыборки: train и val

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = train_data['id']
y = train_data['target']

In [23]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [24]:
df_train = {'id': X_train, 'target': y_train} 
df_val = {'id': X_val, 'target': y_val} 
train_data = pd.DataFrame(df_train)
train_data = train_data.reset_index(drop=True)
val_data = pd.DataFrame(df_val)
val_data = val_data.reset_index(drop=True)

train_data

                 id  target
0    linasecRgv.jpg       0
1    D73gvWKIv0.jpg       0
2    3KsKJ5p8Ae.jpg       0
3    IbVHYOus3N.jpg       1
4    exGhKvLHsb.jpg       0
..              ...     ...
804  uS8D3A2MM2.jpg       0
805  7hYYE7iSad.jpg       0
806  U6jj9sNJLI.jpg       0
807  4ne2OyoWkB.jpg       1
808  MrsioquKwE.jpg       0

[809 rows x 2 columns]

In [25]:
val_data

                 id  target
0    FUFLxDNb5l.jpg       0
1    TxX6S6SuyF.jpg       0
2    stnTly7c5e.jpg       1
3    ErrxZIPAF4.jpg       0
4    1zbJmNnEVA.jpg       0
..              ...     ...
198  wIGgZdCDq5.jpg       1
199  Re69C5wIs7.jpg       0
200  8mtNcVjofj.jpg       1
201  o95RZ7Wm36.jpg       1
202  7dBpO21kDC.jpg       1

[203 rows x 2 columns]

## Переносим все картинки, которые относятся к тренировочной подвыборке

In [26]:
for i in range(len(train_data)):
    if train_data['target'].loc[i] == 0:
        os.replace(f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/images/{train_data['id'].loc[i]}",
                    f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/dataset_AI/train/0/{train_data['id'].loc[i]}")
    else:
        os.replace(f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/images/{train_data['id'].loc[i]}",
                    f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/dataset_AI/train/1/{train_data['id'].loc[i]}")

## Переносим все картинки, которые относятся к валидационной подвыборке

In [27]:
for i in range(len(val_data)):
    if val_data['target'].loc[i] == 0:
        os.replace(f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/images/{val_data['id'].loc[i]}",
                    f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/dataset_AI/val/0/{val_data['id'].loc[i]}")
    else:
        os.replace(f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/images/{val_data['id'].loc[i]}",
                    f"/Users/muzafarov/Desktop/MyEducation/Interview/Kontur/dataset_AI/val/1/{val_data['id'].loc[i]}")

# Приведем тестовые данные к формату .jpg и сохраним таблицу

In [28]:
test_data['id'] = test_data['id'].apply(convert_to_jpg)
test_data.head(10)

               id
0  Qt1fGUB0Vz.jpg
1  j4Rhioq7R3.jpg
2  rD0hgFHJUZ.jpg
3  aY5z1EJsJ6.jpg
4  qZ3IoxD2TE.jpg
5  BOFtxEERkV.jpg
6  9hqOXpYGbK.jpg
7  BhA8T8Ij32.jpg
8  rXexUH9dCM.jpg
9  RdYDVBxwvq.jpg

In [29]:
test_data.to_csv('test_jpg.csv', index=False)