In [76]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.7.3
  latest version: 23.7.4

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.7.4



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import statistics

In [7]:
# Считываем содержимое файла в переменную data:
df = pd.read_csv("/Users/muzafarov/Desktop/MyEducation/ML_OE/data.csv")
 
# Проверяем, что данные прочитаны:
df.head(5)

             region_name  salary
0         Алтайский край   25960
1       Амурская область   43156
2  Архангельская область   47526
3   Астраханская область   32166
4   Белгородская область   31163

In [8]:
df.axes[0]

RangeIndex(start=0, stop=85, step=1)

In [9]:
df = df.set_index('region_name')
df

                       salary
region_name
Алтайский край          25960
Амурская область        43156
Архангельская область   47526
Астраханская область    32166
Белгородская область    31163
...                       ...
Чеченская Республика    26108
Чувашская Республика    27028
Чукотский АО            96930
Ямало-Ненецкий АО       86560
Ярославская область     33882

[85 rows x 1 columns]

In [10]:
df = df.drop(['Самарская область', 'Нижегородская область', 'Кемеровская область', 'Приморский край', 'Ненецкий АО'],axis = 0)

In [12]:
df = df.sort_values(by=['salary'])
print(df)

                                 salary
region_name
Республика Дагестан               24550
Кабардино-Балкарская Республика   25318
Республика Ингушетия              25663
Карачаево-Черкесская Республика   25699
Республика Калмыкия               25719
...                                 ...
Сахалинская обл.                  73261
г. Москва                         78946
Ямало-Ненецкий АО                 86560
Чукотский АО                      96930
Магаданская обл.                 101662

[80 rows x 1 columns]

In [88]:
df.iloc[23][0]

28400

In [89]:
df.iloc[37][0]

31647

In [90]:
df.iloc[61][0]

42434

In [109]:
# Считываем содержимое файла в переменную data:
df = pd.read_csv("/Users/muzafarov/Desktop/MyEducation/ML_OE/data.csv")
 
# Проверяем, что данные прочитаны:
df.head(5)

             region_name  salary
0         Алтайский край   25960
1       Амурская область   43156
2  Архангельская область   47526
3   Астраханская область   32166
4   Белгородская область   31163

In [111]:
df = df.set_index('region_name')

In [112]:
df = df.drop(['Самарская область', 'Нижегородская область', 'Кемеровская область', 'Приморский край', 'Ненецкий АО'],axis = 0)

In [113]:
df['salary'].mean()

38468.55

In [115]:
df['salary'].median()

32089.5