In [43]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [76]:
df = pd.read_csv('/Users/muzafarov/Desktop/MyEducation/ML_OE/fish_train.csv')
df.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Roach   150.0     20.4     22.0     24.7   5.8045  3.7544
1   Perch   250.0     25.4     27.5     28.9   7.2828  4.5662
2   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
3   Bream   925.0     36.2     39.5     45.3  18.7542  6.7497
4   Perch   110.0     19.0     21.0     22.5   5.6925  3.5550

In [93]:
train, test = train_test_split(df, test_size=0.2, random_state=23, stratify=df['Species'])

In [94]:
train.shape, test.shape

((95, 7), (24, 7))

In [95]:
train.mean(axis=0)

/var/folders/yj/nhkf3nv505d5kh0dsk42f3ym0000gn/T/ipykernel_21359/945816537.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.mean(axis=0)

Weight     390.833684
Length1     26.168421
Length2     28.329474
Length3     31.129474
Height       8.975294
Width        4.448602
dtype: float64

In [96]:
del train['Species']
train.head(5)

    Weight  Length1  Length2  Length3   Height   Width
84     9.8     11.4     12.0     13.2   2.2044  1.1484
32   290.0     24.0     26.0     29.2   8.8768  4.4968
82  1550.0     56.0     60.0     64.0   9.6000  6.1440
3    925.0     36.2     39.5     45.3  18.7542  6.7497
24   500.0     28.7     31.0     36.2  14.3714  4.8146

In [97]:
Y = train.pop('Weight')
train.head(3)

    Length1  Length2  Length3  Height   Width
84     11.4     12.0     13.2  2.2044  1.1484
32     24.0     26.0     29.2  8.8768  4.4968
82     56.0     60.0     64.0  9.6000  6.1440

In [98]:
regressor = LinearRegression()
rabota = regressor.fit(train, Y)

In [99]:
print(regressor.coef_)

[ 90.74828925 -32.03177124 -35.15085491  36.462831    30.78936768]

In [92]:
y_pred = regressor.predict(test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred}) 
df

array([-144.57405581,  334.38562514, 1003.08707397,  872.68041156,
        564.8212763 ,  435.0896801 ,  418.74517128,  640.81426691,
        691.51619162,  684.55651383,  702.1854184 ,  495.64529063,
        289.61556836,  159.11493365,  323.80883323,  341.15372104,
        158.95527333,  501.72656325, -223.89049155,  436.60612604,
         96.99853273,  138.02080499,   34.40636959,  755.25729077,
        606.63194818,  220.92465276, -154.28501815,  352.39715087,
        707.01993858,  540.99972854, -159.54618342,  857.85679398,
        378.12888013,  151.93542719,   54.19010529,  169.07295776,
        462.20023534,  225.87566947,  376.30097857,  729.53559233,
        623.61989019,  523.23129174,  733.93392879,  555.45963233,
         28.49371141,  798.14790944,  131.79151222,  356.61225414,
        131.20774375,  367.94585921,  289.88887716,  542.55352696,
        613.5389889 ,  388.1853576 ,  177.92155635,  693.34416263,
        -75.85914214,  908.03451005,  285.94171933,  266.75007454,
        779.47140109,  163.24173316,  -72.54089156,  853.57416094,
        334.58355694,  858.2919751 , -200.3941771 ,  722.61139617,
         49.08727274,  752.25943585,  -22.71943563,   93.11268997,
       -154.80538192,  348.61378103,  787.74276134,  643.87595246,
        727.36356219,  429.21398333,  211.92836794,  786.19752006,
       -175.4494413 ,  325.06116008, -128.76832159,  545.53956718,
        165.45520706,  805.52462883,  379.9703295 ,  798.18846729,
        162.12204736,  470.84215185,  647.09863531,  708.31518492,
        183.08443364,  134.67154761,  446.1261268 ])