In [3]:
import numpy as np

In [37]:
df = np.genfromtxt('/Users/muzafarov/Desktop/MyEducation/ML_OE/задание 3.csv', delimiter=',')
df

array([[nan, nan, nan],
       [ 1.,  9., 15.],
       [ 2.,  4.,  9.],
       [ 3., 17., 41.],
       [ 4.,  2.,  1.],
       [ 5., 14., 32.],
       [ 6., 10., 22.],
       [ 7., 13., 30.],
       [ 8.,  1.,  4.],
       [ 9., 11., 31.],
       [10.,  3.,  8.]])

In [38]:
df = np.delete(df, (0), axis=0)
df

array([[ 1.,  9., 15.],
       [ 2.,  4.,  9.],
       [ 3., 17., 41.],
       [ 4.,  2.,  1.],
       [ 5., 14., 32.],
       [ 6., 10., 22.],
       [ 7., 13., 30.],
       [ 8.,  1.,  4.],
       [ 9., 11., 31.],
       [10.,  3.,  8.]])

In [26]:
(9 + 4 + 17 + 2 + 14 + 10 + 13 + 1 + 11 + 3)/10
(15 + 9 + 31 + 1 + 32 + 22 + 30 + 4 + 31 + 8) / 10

18.3

In [39]:
all_mean = df.mean(axis=0)

In [41]:
mean_X = all_mean[1]
mean_X

8.4

In [43]:
mean_Y = all_mean[2]
mean_Y

19.3

In [45]:
sum_up = 0
sum_down = 0
for i in range(10):
    sum_up += (df[i][1] - mean_X)*(df[i][2] - mean_Y)
    sum_down += (df[i][1] - mean_X)**2
thetta1 = sum_up / sum_down
thetta1

2.4101283880171183

In [46]:
thetta0 = mean_Y - thetta1 * mean_X
thetta0

-0.9450784593437938

In [47]:
sum_up_det = 0
sum_down_det = 0
for i in range(10):
    sum_up_det += (df[i][2] - thetta0 - thetta1 * df[i][1])**2
    sum_down_det += (df[i][2] - mean_Y)**2
coef_det = 1 - (sum_up_det / sum_down_det)
coef_det

0.9513257196553756