In [124]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer 
import seaborn as sns
from matplotlib import pyplot as plt

In [125]:
data1 = pd.DataFrame({'Spam': [16, 101], 'Not spam': [13, 44]}, index=['Писем', 'Слов'])
data2 = pd.DataFrame({'Words': ['Unlimited', 'Million', 'Online', 'Offer',
																'Refund', 'Remove', 'Investment', 'Membership', 
																'Bonus', 'Gift'],
											'Spam': [2,4,0,9,4,9,29,27,11,6], 
											'Not spam': [1,2,0,3,7,2,5,9,5,10]})
message = 'Access Cash Remove Refund Million Investment Bonus'.split()
print(data1)
data2

       Spam  Not spam
Писем    16        13
Слов    101        44

        Words  Spam  Not spam
0   Unlimited     2         1
1     Million     4         2
2      Online     0         0
3       Offer     9         3
4      Refund     4         7
5      Remove     9         2
6  Investment    29         5
7  Membership    27         9
8       Bonus    11         5
9        Gift     6        10

In [126]:
data2 = data2.append(pd.DataFrame({'Words': ['Access', 'Cash'], 
                      'Spam': [0, 0],
                      'Not spam': [0, 0]}), ignore_index=True)
data2

/var/folders/yj/nhkf3nv505d5kh0dsk42f3ym0000gn/T/ipykernel_73002/3652766861.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data2 = data2.append(pd.DataFrame({'Words': ['Access', 'Cash'],

         Words  Spam  Not spam
0    Unlimited     2         1
1      Million     4         2
2       Online     0         0
3        Offer     9         3
4       Refund     4         7
5       Remove     9         2
6   Investment    29         5
7   Membership    27         9
8        Bonus    11         5
9         Gift     6        10
10      Access     0         0
11        Cash     0         0

In [127]:
data2 = data2[data2['Words'] != 'Online']
data2.reset_index(drop=True, inplace=True)
data2

         Words  Spam  Not spam
0    Unlimited     2         1
1      Million     4         2
2        Offer     9         3
3       Refund     4         7
4       Remove     9         2
5   Investment    29         5
6   Membership    27         9
7        Bonus    11         5
8         Gift     6        10
9       Access     0         0
10        Cash     0         0

In [128]:
P_spam = data2['Spam'].sum() / data1.loc['Слов'].sum()
P_not_spam = data2['Not spam'].sum() / data1.loc['Слов'].sum()

In [129]:
V = len(data2)
r = 2

In [130]:
F_spam = np.log(P_spam) + sum([np.log((1 + data2['Spam'][data2['Words'] == i].values[0]) / 
																 (V + r + data1['Spam']['Слов'])) for i in message])
F_not_spam = np.log(P_not_spam) + sum([np.log((1 + data2['Not spam'][data2['Words'] == i].values[0]) / 
																 (V + r + data1['Not spam']['Слов'])) for i in message])
print(F_spam, F_not_spam)

-22.107437415028382 -21.633717925872002

In [131]:
P_result = 1 / (1 + np.exp(F_not_spam - F_spam))
P_result

0.38373626908043157

In [132]:
P1 = data1['Spam'][0]/(data1['Spam'][0]+data1['Not spam'][0])
P1

0.5517241379310345