In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer 
import seaborn as sns
from matplotlib import pyplot as plt

In [49]:
data1 = pd.DataFrame({'Spam': [16, 101], 'Not spam': [13, 44]}, index=['Писем', 'Слов'])
data2 = pd.DataFrame({'Words': ['Unlimited', 'Million', 'Online', 'Offer',
                                'Refund', 'Remove', 'Investment', 'Membership', 
                                'Bonus', 'Gift'],
                      'Spam': [2,4,0,9,4,9,29,27,11,6], 
                      'Not spam': [1,2,0,3,7,2,5,9,5,10]})
data1

       Spam  Not spam
Писем    16        13
Слов    101        44

In [50]:
data2 = data2[(data2['Words'] != 'Online' )]
data2.reset_index(drop=True, inplace=True)

In [51]:
data2

        Words  Spam  Not spam
0   Unlimited     2         1
1     Million     4         2
2       Offer     9         3
3      Refund     4         7
4      Remove     9         2
5  Investment    29         5
6  Membership    27         9
7       Bonus    11         5
8        Gift     6        10

In [57]:
text_mail = 'Access Cash Remove Refund Million Investment Bonus'.split()
text_mail

['Access', 'Cash', 'Remove', 'Refund', 'Million', 'Investment', 'Bonus']

In [68]:
P_spam = data2['Spam'].sum() /data1.loc['Слов'].sum() 
P_spam

0.696551724137931

In [70]:
P_not_spam = data2['Not spam'].sum() /data1.loc['Слов'].sum() 
P_not_spam

0.30344827586206896

In [ ]:
P