In [42]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import math

In [43]:
d = {'X': [28, 49, 48, 36, 45], 'Y': [10, 49, 35, 33, 54], 'Class': [1, 1, 0, 1, 0]}
df = pd.DataFrame(data=d)
df

    X   Y  Class
0  28  10      1
1  49  49      1
2  48  35      0
3  36  33      1
4  45  54      0

In [44]:
X = 33
Y = 47
sum_mh = 0
euqlid_list = []
mh_list = []
cheb_list = []
weights_list = []

for i in range(5):
    sum_euqlid = ((X - df.iloc [i, 0])**2) + ((Y - df.iloc [i, 1])**2)
    euqlid = sum_euqlid ** 0.5
    euqlid_list.append(euqlid)

    sum_mh = abs((X - df.iloc [i, 0])) + abs((Y - df.iloc [i, 1]))
    mh_list.append(sum_mh)

    d_cheb = max([abs((X - df.iloc [i, 0])), abs((Y - df.iloc [i, 1]))])
    cheb_list.append(d_cheb)

    weight = 1/(euqlid**2)
    weights_list.append(weight)
                 
cheb_list

[37, 16, 15, 14, 12]

In [45]:
df['Euqlid'] = euqlid_list
df['mh'] = mh_list
df['cheb'] = cheb_list
df

    X   Y  Class     Euqlid  mh  cheb
0  28  10      1  37.336309  42    37
1  49  49      1  16.124515  18    16
2  48  35      0  19.209373  27    15
3  36  33      1  14.317821  17    14
4  45  54      0  13.892444  19    12

In [38]:
df['Euqlid'] = euqlid_list
df['Weight'] = weights_list

In [39]:
df

    X   Y  Class     Euqlid    Weight
0  28  10      1  37.336309  0.000717
1  49  49      1  16.124515  0.003846
2  48  35      0  19.209373  0.002710
3  36  33      1  14.317821  0.004878
4  45  54      0  13.892444  0.005181

In [40]:
0.002710 + 0.005181

0.007891

In [41]:
0.000717 + 0.003846 + 0.004878

0.009441000000000001