In [8]:
s = '0011101000101010'
print('DA' if min(s.count('0'), s.count('1')) % 2 == 1 else 'NET')

DA

In [9]:
min(s.count('0'), s.count('1'))

7

In [20]:
import math
import pandas as pd
from scipy.spatial import distance

In [21]:
d = {'x1': [1,2], 'x2': [0,3], 'x3': [-1,1], 'x4': [0,-4], 'x5': [4,-2] }
df = pd.DataFrame(data=d)
df

   x1  x2  x3  x4  x5
0   1   0  -1   0   4
1   2   3   1  -4  -2

In [24]:
df.iloc[1][0]

/var/folders/yj/nhkf3nv505d5kh0dsk42f3ym0000gn/T/ipykernel_44090/1019881219.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[1][0]

2

In [ ]:
for i in range(5):
    dst = distance.euclidean((df.iloc[0][i],df.iloc[0][i]), df.iloc[1][i])

In [ ]:
l = []
for i in range(5):
    l.append(math.sqrt((df.)))
l.append

In [1]:
deque = [0,1,2,3,4]

a = deque.pop()
a

4

In [2]:
deque

[0, 1, 2, 3]

In [8]:
deque_1 = []
deque_2 = []

In [9]:
def add_front(deque, val):
    deque.insert(0,val)
    return deque

In [10]:
test = 'pushfront 1 71819'.split()

In [11]:
if test[0] == 'pushfront':
        if test[1] == 1:
            deque_1 = add_front(deque_1, test[2])
        elif test[1] == 2:
            deque_2 = add_front(deque_2, test[2])

In [14]:
deque_1 = add_front(deque_1, test[2])
deque_1

['71819']

In [15]:
test[1]

'1'

In [12]:
deque_1

[]

In [51]:
list_queue = []

In [53]:
a = len(list_queue)//2 #if list_queue else None
a
list_queue.insert(a,100)
list_queue

[100, 100]

In [ ]:
b = list_queue[len(list_queue)//2]

In [46]:
list_queue = []
val = 100

In [54]:
list_queue.insert((len(list_queue)//2),val) if list_queue else list_queue.append(val)

In [48]:
list_queue

[100]

In [56]:
0/2

0.0

In [ ]:
list_queue = []
list_queue.insert((len(list_queue)//2),val) if list_queue else list_queue.append(val)